<template>
  <nuxt-link
    class="text-center flex-grow flex flex-col items-center"
    :class="textClass"
    :to="route"
  >
    <i class="material-icons text-4xl pt-1">{{ icon }}</i>
    <div class="pb-1 text-sm font-bold">{{ name }}</div>
  </nuxt-link>
</template>

<script>
export default {
  name: 'NavbarItem',
  props: {
    route: { type: String, required: true },
    name: { type: String, required: true },
    icon: { type: String, required: true }
  },
  computed: {
    textClass() {
      if (this.$route.path === this.route) {
        return 'text-blue-800'
      } else {
        return 'text-gray-500'
      }
    }
  }
}
</script>

<style></style>
