<template>
  <nav
    class="relative flex flex-wrap items-center justify-between bg-gray-100 border-t border-gray-300"
  >
    <NavbarItem name="Watchlist" route="/" icon="home" />
    <NavbarItem name="Search" route="/search" icon="search" />
  </nav>
</template>

<script>
import NavbarItem from '@/components/NavbarItem'
export default {
  name: 'Navbar',
  components: { NavbarItem }
}
</script>

<style></style>
