<template>
  <form class="shadow flex" @submit.prevent="searchChange">
    <input
      ref="searchInput"
      v-model="searchText"
      placeholder="Search by symbol or company ..."
      type="text"
      class="w-full pl-4 h-16 outline-none focus:outline-none text-xl"
      autofocus
    />
    <button class="bg-white w-auto flex justify-end items-center pr-4">
      <i class="material-icons">search</i>
    </button>
  </form>
</template>

<script>
export default {
  name: 'Searchbar',
  data() {
    return { searchText: '' }
  },
  mounted() {
    this.$refs.searchInput.focus()
  },
  methods: {
    searchChange() {
      this.$emit('searchChange', this.searchText)
    }
  }
}
</script>

<style></style>
