<template>
  <div
    class="flex flex-row items-center justify-center bg-gray-100 border-b border-gray-300 px-6"
  >
    <div class="flex flex-col py-2 truncate">
      <nuxt-link :to="'/stock/' + ticker">
        <div class="text-2xl font-medium">{{ ticker }}</div>
        <div class="text-sm text-gray-500 capitalize">{{ name }}</div>
      </nuxt-link>
    </div>
    <div
      class="flex flex-col flex-grow items-right text-right py-2 border-r pr-4"
    >
      <nuxt-link :to="'/stock/' + ticker" class="flex flex-col">
        <div class="text-2xl font-medium">${{ price }}</div>
        <div class="text-right flex flex-row text-right" :class="color">
          <i class="material-icons flex-grow">{{ icon }}</i>
          <span>{{ Math.abs(change) }}%</span>
        </div>
      </nuxt-link>
    </div>
    <a
      v-if="inWatchlist != null"
      class="ml-4 py-2 flex flex-col w-20"
      @click.prevent="updateWatchlist"
      href="#"
    >
      <i class="material-icons text-3xl text-center mt-2">{{ btnIcon }}</i>
      <p class="text-center text-xs text-gray-500">
        {{ btnText }}
      </p>
      <p class="text-center text-xs text-gray-500">watchlist</p>
    </a>
  </div>
</template>

<script>
import api from '@/lib/api'
import {
  isInWatchlist,
  addToWatchlist,
  removeFromWatchlist
} from '@/lib/storage'
export default {
  name: 'StockRow',
  props: {
    ticker: { type: String, required: true },
    name: { type: String, required: true }
  },
  data() {
    return {
      change: 0,
      price: 0,
      inWatchlist: null
    }
  },
  computed: {
    icon() {
      if (this.change >= 0) {
        return 'keyboard_arrow_up'
      } else {
        return 'keyboard_arrow_down'
      }
    },
    color() {
      if (this.change >= 0) {
        return 'text-green-500'
      } else {
        return 'text-red-500'
      }
    },
    btnIcon() {
      if (this.inWatchlist) {
        return 'remove_circle_outline'
      } else {
        return 'add_circle_outline'
      }
    },
    btnText() {
      if (this.inWatchlist) {
        return 'Remove from'
      } else {
        return 'Add to'
      }
    }
  },
  mounted() {
    api.getStockQuote(this.ticker).then(this.updatePrice)
    isInWatchlist(this.ticker, this.name).then(this.setWatchlist)
  },
  methods: {
    updatePrice(data) {
      this.price = data.price.toFixed(2)
      this.change = data.change.toFixed(2)
    },
    setWatchlist(val) {
      this.inWatchlist = val
    },
    async updateWatchlist() {
      if (this.inWatchlist) {
        await removeFromWatchlist(this.ticker, this.name)
        this.inWatchlist = false
      } else {
        await addToWatchlist(this.ticker, this.name)
        this.inWatchlist = true
      }
      this.$emit('watchlistChanged')
    }
  }
}
</script>

<style></style>
