<template>
  <div class="app flex flex-col font-sans fixed">
    <nuxt class="flex-1 bg-gray-100 overflow-y-auto" />
    <Navbar />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  components: { Navbar }
}
</script>

<style>
body,
html {
  height: 100%;
  width: 100%;
}
.app {
  height: 100%;
  width: 100%;
}
</style>
