<template>
  <div>
    <div
      v-if="!watchlist.length"
      class="flex flex-col justify-center h-full text-center"
    >
      <p class="text-2xl mx-4">
        Start adding stocks to your watchlist on the search page
      </p>
      <nuxt-link to="/search">
        <button
          class="btn bg-blue-600 text-white w-auto px-4 py-2 rounded mt-4"
        >
          Go to Search
        </button>
      </nuxt-link>
    </div>
    <StockRow
      v-for="stock in watchlist"
      :key="stock.ticker"
      :ticker="stock.ticker"
      :name="stock.name"
      @watchlistChanged="setWatchlist"
    />
  </div>
</template>

<script>
import { getWatchlist } from '@/lib/storage'
import StockRow from '@/components/StockRow'

export default {
  components: { StockRow },
  async asyncData() {
    const watchlist = await getWatchlist()
    return { watchlist }
  },
  data() {
    return { watchlist: [] }
  },
  methods: {
    async setWatchlist() {
      const watchlist = await getWatchlist()
      this.watchlist = watchlist
    }
  }
}
</script>
