<template>
  <div>
    <Searchbar @searchChange="handleSearch" />
    <StockRow
      v-for="stock in activeStocks"
      :key="stock.ticker"
      :ticker="stock.ticker"
      :name="stock.name"
      :price="stock.price"
      :change="stock.change"
      :in-watchlist="stock.inWatchlist"
    />
  </div>
</template>

<script>
import Searchbar from '@/components/Searchbar'
import StockRow from '@/components/StockRow'
import api from '@/lib/api'

export default {
  components: { Searchbar, StockRow },
  data() {
    return { activeStocks: [] }
  },
  methods: {
    async handleSearch(value) {
      const stocks = await api.searchStocks(value)
      this.activeStocks = stocks
    }
  }
}
</script>
